body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 100px;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 1px;
    margin-bottom: 0;
}

p {
    text-align: center;
    font-size: 40px;
    padding: -10px;
    margin-bottom: 30px;
    margin-top: 20px;
    color: white;
}

#left {
    display: grid;
    grid-column: 2/5;
    grid-row: 1/3;
    justify-items: center;
}

#right {
    grid-column: 5/7;
    grid-row: 1/3;
}

#main {
    grid-column: 2/7;
    grid-row: 2/3;
    text-align: center;
    margin-left: 80px;
}

#row1 {
    grid-row: 3/4;
    grid-column: 1/8;
    text-align: center;
    font-size: 170px;
    /* border-top: 2px solid black; */
}

#row2 {
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-row: 4/5;
    grid-column: 1/8;
    text-align: center;
    justify-content:space-between;
    align-self: center;
}


.letter {
    font-size: 70px;
    align-items:stretch;
    text-align: center;
    cursor: pointer;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1.5fr 0.5fr;
    height: 90%;
}

.letter:hover {
    background-color:rgba(255, 105, 180, 0.5);
    transform: scale(1.8);
}

.buttons {
    background-color:rgb(228, 33, 33);
    font-size: 55px;
    /* margin-bottom: 70px; */
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
}

.buttons:hover {
    transform: scale(1.8);
}

.buttons:active {
    background-color: maroon;
}

#allbuttons {
    grid-column: 6/8;
    grid-row: 2/3;
    width: 100%;
    margin: auto;
    display: grid;
    justify-content:space-evenly;
    grid-row-gap: 40px;
}

#newgame {
    background-color:rgb(228, 33, 33);
    font-size: 55px;
    cursor: pointer;
    border-radius: 20px;
    /* padding: 10px; */
}

#newdiv {
    display: grid;
    grid-column: 2/7;
    grid-row: 4/5;
    text-align: center;
    align-content: center;
    justify-content: center;
}

img {
    height: 500px;
}

#topcenter {
    display: grid;
    grid-column: 3/6;
    grid-row: 1/3;
    text-align: center;
    align-content: flex-end;
    justify-content: center;
}

#hintsection {
    grid-column: 1/3;
    grid-row: 1/3;
    text-align: center;
    font-size: 40px;
}

#hinttext {
    text-align: center;
    margin-top: 40px;
}

#name {
    grid-column: 3/6;
    grid-row: 1/2;
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
}

#select {
    grid-column: 6/8;
    grid-row: 1/2;
    text-align: center; 
    align-items: end;
    display: grid;
}

/* #gallows svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30vw;
    height: 40vh;
    transform: translate(-50%, -50%);

}

#gallows line, #gallows circle {
    stroke: white;
    stroke-width: 4;
    fill: none;
}

#gallows .draw {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0; */
  
/* #gallows {
    border-left: 10px solid black;
    border-top: 10px solid black;
    height: 85%;
    width: 40%;
    grid-column: 2/5;
    grid-row: 1/3;
    margin-top: 50px;
    margin-left: 50px;
} */



