body {
    margin: 0;
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 100px;
    border: 1px black solid;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 1px;
    margin-bottom: 0;
}

p {
    text-align: center;
    font-size: 40px;
    padding: -10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#left {
    background-color: blue;
    grid-column: 2/5;
    grid-row: 1/3;
    justify-items: center;
}

#right {
    background-color: yellow;
    grid-column: 5/7;
    grid-row: 1/3;
}

#main {
    grid-column: 2/7;
    grid-row: 2/3;
    border: 1px black solid;
    text-align: center;
}

#row1 {
    grid-row: 3/4;
    grid-column: 1/8;
    border: 1px black solid;
    text-align: center;
    font-size: 170px;
}

#row2 {
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-row: 4/5;
    grid-column: 1/8;
    text-align: center;
    justify-content:space-between;
    align-self: center;
}


.letter {
    font-size: 70px;
    align-items:stretch;
    text-align: center;
    cursor: pointer;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1.5fr 0.5fr;
    height: 90%;
}

.letter:hover {
    background-color:rgba(255, 105, 180, 0.5);
    transform: scale(1.8);
}

.buttons {
    background-color:rgb(228, 33, 33);
    font-size: 55px;
    margin-bottom: 70px;
    cursor: pointer;
}

.buttons:hover {
    transform: scale(1.8);
}

.buttons:active {
    background-color: maroon;
}

#allbuttons {
    grid-column: 2/7;
    grid-row: 3/4;
    width: 100%;
    margin: auto;
    display: flex;
    border: 1px black solid;
    justify-content:space-evenly;
}

#gallows svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30vw;
    height: 40vh;
    transform: translate(-50%, -50%);

}

#gallows line, #gallows circle {
    stroke: white;
    stroke-width: 4;
    fill: none;
}

#gallows .draw {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
/* #gallows {
    border-left: 10px solid black;
    border-top: 10px solid black;
    height: 85%;
    width: 40%;
    grid-column: 2/5;
    grid-row: 1/3;
    margin-top: 50px;
    margin-left: 50px;
} */



