h1 {
    font-size: 100px;
    border: 1px black solid;
    margin-top: 30px;
}


body {
    margin: 0;
    height: 100vh;
    width: 100%;
}

p {
    text-align: center;
    font-size: 40px;
    padding: -10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#left {
    background-color: blue;
    grid-column: 2/5;
    grid-row: 1/3;
    justify-items: center;
}

#right {
    background-color: red;
    grid-column: 5/7;
    grid-row: 1/3;
}

#main {
    grid-column: 2/7;
    grid-row: 2/3;
    border: 1px black solid;
    text-align: center;
}

#row1 {
    grid-row: 3/4;
    grid-column: 1/8;
    border: 1px black solid;
    text-align: center;
    font-size: 20px;
}

#row2 {
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-row: 4/5;
    grid-column: 1/8;
    align-content: center;
}


.letter {
    font-size: 30px;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
    padding-bottom: 1px;
    margin-bottom: 0;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1.5fr 0.5fr;
    height: 90%;
}

.letter:hover {
    background-color:rgba(255, 105, 180, 0.5);
    transform: scale(1.8);
}

.buttons {
    background-color:rgb(228, 33, 33);
    font-size: 55px;
    margin-bottom: 70px;
}

.buttons:hover {
    transform: scale(1.8);
}

.buttons:active {
    background-color: maroon;
}

#allbuttons {
    grid-column: 2/7;
    grid-row: 3/4;
    width: 100%;
    margin: auto;
    display: flex;
    border: 1px black solid;
    justify-content:space-evenly;
}

#gallows {
    border-left: 10px solid black;
    border-top: 10px solid black;
    height: 85%;
    width: 60%;
    grid-column: 2/5;
    grid-row: 1/3;
    margin-top: 50px;
    margin-left: 50px;
}

